<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <div class="jumbotron">
        <h2>Node.JS Study Blog</h2>
        <figure>
          <blockquote class="blockquote">
            <h6>사이트를 방문해주셔서 감사합니다.</h6>
          </blockquote>
          <figcaption class="blockquote-footer">
            동덕여대 컴퓨터학과 윤민선
          </figcaption>
        </figure>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-success">Git Hub!</h5>
              <p class="card-text ">사망년 민선이의 피, 땀, 노력</p>
              <a href="https://github.com/miinsun" class="btn btn-primary">바로가기</a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-success">Blog!</h5>
              <p class="card-text">소소한 민선이의 일상</p>
              <a href="https://blog.naver.com/kor3334" class="btn btn-primary">바로가기</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>